<!DOCTYPE html>
<html lang="en" data-ng-app="app" ng-controller="AuctionController">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Auction Software</title>
    <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <link href="static/css/starter-template.css" rel="stylesheet">

</head>
{% raw %}

<body>
    <div class="container">
        <div class="navbar navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" ng-init="navbarCollapsed=true" ng-click="navbarCollapsed = !navbarCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand pull-left round-info timer-text">
                        <timer countdown="1" max-time-unit="second" interval="1000">{{countdown | number:0}} {{ 'sec' |translate}}</timer>
                </div>
                <div class="navbar-brand pull-right round-information" ng-if="get_round_number(auction_doc.current_stage).type == 'pause'">
                    <span class="round-number">
                    {{get_round_number(auction_doc.current_stage).data[0]}} &#8594; {{get_round_number(auction_doc.current_stage).data[1]}}
                    </span>
                </div>
                <div class="navbar-brand pull-right round-information" ng-if="get_round_number(auction_doc.current_stage).type == 'round'">
                    <p translate>Round</p>
                    <p class="round-number">{{get_round_number(auction_doc.current_stage).data}}</p>
                </div>
                <div class="navbar-brand pull-right round-information" ng-if="get_round_number(auction_doc.current_stage).type == 'finish'">
                    <p class="round-number" translate>Finish</p>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" collapse="navbarCollapsed">

                <ul class="nav navbar-nav">
                    <li><a href="#" translate>Info</a>
                    </li>
                    <li class="active"><a href="#" translate>Bidding</a>
                    </li>
                    <li><a href="#" translate>Settings</a>
                    </li>
                    <li><a ng-click="restart_changes()" translate>Restart sync</a></li>
                    <div class="navbar-left">
                        <div class="btn-group btn-group-sm">
                            <button type="button" ng-click="changeLanguage('en')" class="btn btn-default navbar-btn" translate>English</button>
                            <button type="button" ng-click="changeLanguage('uk')" class="btn btn-default navbar-btn" translate>Ukrainian</button>
                            <button type="button" ng-click="changeLanguage('ru')" class="btn btn-default navbar-btn" translate>Russian</button>
                        </div>
                        <div class="btn-group btn-group-sm">
                            <button ng-repeat="item in auction_doc.initial_bids" type="button" ng-click="setuser(item.bidder_id)" class="btn btn-default navbar-btn"><span translate>Login in as</span> {{ item.label.en }}</button>
                            <button type="button" ng-click="setuser(null)" class="btn btn-default navbar-btn"><span translate>Login in as viewer</span></button>
                        </div>
                    </div>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
        <timer countdown="1" interval="1000">
            <div class="progress progress-fixed-top">
                <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="{{($parent.interval - countdown)/$parent.interval*100}}" aria-valuemin="0" aria-valuemax="100" style="width: {{($parent.interval - countdown)/$parent.interval*100}}%">
                </div>
            </div>
        </timer>
    </div>

    <div class="container-fluid auction-stages" ng-cloak>
        <div class="row">
            <div class="col-xs-3 hidden-xs">
                <strong translate>Time</strong>
            </div>
            <div class="col-xs-9 hidden-xs">
                <strong translate>Bidder</strong>
                <span class="pull-right">
                    <strong translate>Bid</strong>
                </span>
            </div>
        </div>
        <div class="row hidden-xs" >
            <span class="round-element">
                <span translate>Initial bids</span>:
            </span>
        </div>
        <div class="row stage-element" ng-repeat="stage in auction_doc.initial_bids">
            <div class="col-xs-3 time-element hidden-xs">{{ format_date(stage.time, 'shortTime') }}</div>
            <div class="col-xs-3 stage-icon-element visible-xs">
                <img class="stage-icon" ng-if="stage.time" ng-src="static/img/past_stage.png"><img>
                <img class="stage-icon" ng-if="!stage.time" ng-src="static/img/current_stage.png"><img>
            </div>
            <div class="col-xs-9">
                <span class="stage-label" ng-if="stage.bidder_id != bidder_id ">{{ stage.label.en }}</span>
                <span class="stage-label" ng-if="stage.bidder_id == bidder_id " translate>You</span>
                <span ng-if="stage.amount" class="stage-amount" ng-class="{true: 'minimal-amount', false: 'default-amount'}[stage.amount == minimal_bid]">
                    <span>{{ stage.amount }}</span> <span class="amount-currency" translate>{{ auction_doc.minimalStep.currency }}</span>
                </span>
            </div>
        </div>
        <div ng-repeat="stage in auction_doc.stages">
            <div class="row hidden-xs" ng-if="stage['type'] == 'announcement'">
                <span class="round-element" >
                    <span translate>Announcement</span>:
                </span>
            </div>
            <div class="row stage-element" ng-class="{true: 'current-stage', false: ''}[auction_doc.current_stage == $index]">
                <div class="col-xs-3 stage-icon-element visible-xs">
                    <img class="stage-icon" ng-if="auction_doc.current_stage > $index" ng-src="static/img/past_stage.png"></img>
                    <img class="stage-icon" ng-if="auction_doc.current_stage == $index" ng-src="static/img/current_stage.png"></img>
                    <img class="stage-icon" ng-if="auction_doc.current_stage < $index" ng-src="static/img/future_stage.png"></img>
                </div>
                <div class="col-xs-3 time-element hidden-xs">{{ format_date(stage.start, 'shortTime') }}</div>
                <div class="col-xs-9" ng-if="stage['type'] == 'preliminary_bids'" translate><span class="stage-label">All bidders</span></div>
                <div class="col-xs-9" ng-if="stage['type'] == 'pause'"><span class="stage-label" translate>Pause</span></div>
                <div class="col-xs-9" ng-if="stage['type'] == 'announcement'"><span class="stage-label" translate>Results Release</span></div>
                <div class="col-xs-9" ng-if="stage['type'] == 'bids'">
                    <span class="stage-label" ng-if="stage.bidder_id != bidder_id ">{{ stage.label.en }}</span>
                    <span class="stage-label" ng-if="stage.bidder_id == bidder_id " translate>You</span>
                    <span ng-if="(stage['type'] == 'bids')&&(stage['amount'])"  class="stage-amount" ng-class="{true: 'minimal-amount', false: 'default-amount'}[stage.amount == minimal_bid]" ng-class="{true: 'text-future', '': false}[auction_doc.current_stage < $index]">
                            <span ng-if="stage['changed']"><strong>{{ stage['amount'] }} <span class="amount-currency" ng-if="stage['amount']">{{ auction_doc.minimalStep.currency }}</span></strong></span>
                            <span ng-if="!stage['changed']">{{ stage['amount'] }} <span class="amount-currency" ng-if="stage['amount']">{{ auction_doc.minimalStep.currency|translate }}</span></span>
                    </span>
                </div>
            </div>
            <div class="row hidden-xs" ng-if="stage['type'] == 'pause'">
                <span class="round-element">{{ get_round_number($index + 1).data }}:</span>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div ng-show="show_bids_form()" class="panel panel-default bg-warning fixed-bottom">
            <div class="panel-body bg-warning">
                <div class="row">
                    <div class="col-xs-12">
                        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert(alert.msg_id)">{{ alert.msg | translate }}</alert>
                        <form id="BidsForm" name="BidsForm" role="form">
                            <label for="bid" translate>Your proposal :</label>
                            <div class="input-group">
                                <input type="number" ng-disabled="!allow_bidding" class="form-control" id="bid" name="bid" ng-model="bid" placeholder="{{ max_bid_amount() }} {{'or lower'|translate}}">
                                <div class="input-group-btn">
                                    <button type="submit" ng-show="allow_bidding" ng-click="post_bid()" class="btn btn-success" translate>Place a bid</button>
                                    <button type="submit" ng-hide="allow_bidding" ng-click="edit_bid()" class="btn btn-link" translate>Edit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</body>
{% endraw %}
<script type=text/javascript>
var db_url = '{{ db_url }}';
var auction_doc_id = '{{ auction_doc_id }}';
</script>
<!-- <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script> -->
<script src="vendor/angular/angular.js"></script>
<script src="vendor/pouchdb/dist/pouchdb.min.js"></script>
<script src="vendor/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="vendor/angular-timer/dist/angular-timer.min.js"></script>
<!-- <script src="//cdn.jsdelivr.net/pouchdb/3.0.6/pouchdb.min.js"></script> -->
<script src="vendor/angular-translate/angular-translate.min.js"></script>
<script src="static/js/app.js"></script>
<script src="static/js/translations.js"></script>


</html>