<!DOCTYPE html>
<html lang="en" data-ng-app="app" ng-controller="AuctionController">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Auction Software</title>
    <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <link href="/static/css/starter-template.css" rel="stylesheet">

</head>

<body>
    <div class="container">
        <div class="list-group">
            {% for auction in documents | reverse %}
            <div class="list-group-item text-center">
                <a href="/tenders/{{ auction._id }}">
                    <h4 class="list-group-item-heading">
                    Тендер {{ auction.tenderID }}
                </h4>
                </a>
                <p class="list-group-item-text">
                    Час проведення: {{ auction.stages[0].start }} - {{ auction.endDate }}
                </p>
                <div class="btn-group">
                    {% for bidder in auction["initial_bids"] %}
                    <a type="button" class="btn btn-default" href="/tenders/{{ auction._id }}?bidder_id={{ bidder['bidder_id'] }}">{{ bidder['label']['uk'] }}</a>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>