recursive-include openprocurement *
recursive-include docs *
recursive-exclude openprocurement/auction/static/vendor *
recursive-exclude openprocurement/auction/static/.webassets-cache *
recursive-exclude openprocurement/auction/static/min *
recursive-exclude openprocurement/auction/node_modules *
include *
global-exclude *.pyc
graft openprocurement/auction/static/vendor/pouchdb/dist
graft openprocurement/auction/static/vendor/angular
graft openprocurement/auction/static/vendor/angular-bootstrap
graft openprocurement/auction/static/vendor/angular-growl-2/build
graft openprocurement/auction/static/vendor/angular-timer/dist
graft openprocurement/auction/static/vendor/angular-translate
graft openprocurement/auction/static/vendor/bootstrap/dist
