body {
  padding-top: 80px;
  padding-bottom: 150px;
}

.round-information {
  background-color: #A1A1A1;
  color: #FFFFFF;
  margin-top: 8px;
  margin-right: 5px;
  border-radius: 10px;
  /*padding-bottom: 65px;*/
  text-align: center;
}

.round-number{
  color: #FFFFFF;
  font-size: 20px;
}

.timer-text {
  padding-top: 1.25em;
}

.progress-fixed-top {
  position:fixed;
  top: 67px;
  left:0;
  width:100%;
  height: 5px;
  z-index: 1030;
}


.stage-icon {
  height: auto;
  width: 41px;
}

.stage-label {
/*  position: absolute;
  top: 25px;
  left: 0px;*/
}

.stage-amount {
/*  position: absolute;
  right: 5px;*/
  /*padding: 20px 5px;*/
  /*top: 4px;*/
  float: right;
  border-radius: 10px;
  padding: 6px 11px 8px;
  white-space: nowrap;
}

.amount-currency{
  font-size: 12px;
}

.stage-info,
.stage-bids {
  display: table;
}
.stage-label,
.stage-amount {
  display: table-cell;
  vertical-align: middle;
}

/*.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, 
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, 
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, 
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, 
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, 
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, 
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, 
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, 
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, 
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, 
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, 
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  min-height: 75px;
}*/

.stage-element {
  border-bottom: 1px solid #e5e5e5;
  /*font-size: 20px;*/
  font-size: 150%;
  padding-top:2%;
  padding-bottom: 3%;
  /*display: table;*/
  /*width: 100%;*/
}

/*.stage-element>div:not(.time-element) {
  border-bottom: 1px solid #e5e5e5;
  font-size: 20px;
  padding-left: 5px;
  display: table-cell;
  vertical-align: middle;
  text-align:center;
}*/
/*.stage-element .visible-xs {
    display: table-cell !important;
}*/

.stage-element > div {
  padding-left: 5px;
  /*display: table-cell;*/
  /*vertical-align: middle;*/
}

/*.stage-element>div.stage-icon-element{
  padding-top: 22px;
}*/

/*.stage-element .stage-info,
.stage-element .stage-icon-element{
  min-height: 10px;
}
*/
.default-amount {
  background-color: #F2F2F2;
}


.minimal-amount {
  background-color: #FFCCCC;
}


.text-future {
  color: rgb(208, 207, 207);
}

.time-element{
  font-size: 20px;
  background-color: #e5e5e5;
  color: #999999;
  border-bottom: 1px solid #e5e5e5;
  border-right: 1px solid gray;

}
.current-stage {
  background-color: #F2F2F2;
  border-bottom: 1px solid #cccccc;
}

.navbar-toggle{
  float: left;
}

.fixed-bottom {
  position:fixed;
  bottom: 0px;
  left:0;
  width:100%;
  margin-bottom: 0px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, 
.col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, 
.col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  padding-right: 5px;
  padding-left: 5px;
}

.round-element {
  padding-left: 1.5em;
  padding-right: 1em;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-right: 1px solid black;
  color: #5a6373;
  font-size: 20px;
}


.navbar-toggle .icon-bar {
  display: block;
  width: 40px;
  height: 8px;
  border-radius: 8px;
}

/*
.navbar-toggle {
  position: relative;
  padding: 20px 0px;
  margin: 5px 5px 11px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  display: block;
}
*/
.navbar-toggle .icon-bar {
  background-color: #4D4D4D;
}

.navbar-header {
  background-color: #FFFFFF;
}

.navbar-fixed-top .navbar-collapse {
  background-color: #FFFFFF;
}