body {
  padding-top: 73px;
  padding-bottom: 91px;
  }
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, 
.col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, 
.col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  padding-right: 0;
  padding-left: 0;
  }

/*----- Header -----*/
/* Header auction*/
.header-auction {
  background-color: #fff;
  border-top: 1px solid #bcbcbc;
  padding: 3px 5px 3px 4px;
  }
.header-auction-lining {
  display: table;
  height: 61px;
  width: 100%;
  }
.header-auction-item {
  display: table-cell;
  float: none !important; /* fix bootstrap.min.css */
  height: auto;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  }

/* Navigation button */
.header-auction-nav {
  width: 40px;
  }
.header-auction-nav .navbar-toggle {
  margin: 0;
  padding: 0 5px 2px 0;
  }
.header-auction-nav .navbar-toggle .icon-bar {
  background-color: #4c4c4c;
  border-radius: 6px;
  display: block;
  height: 8px;
  width: 36px;
  }
.header-auction .navbar-collapse {
  -webkit-box-shadow: 0 8px 6px -6px #aaa;
  -moz-box-shadow: 0 8px 6px -6px #aaa;
  box-shadow: 0 8px 6px -6px #aaa;
  }

/* Timer */
.round-info {
  font-size: 17px;
  padding: 0 0 0 10px;
  }
.timer-item {
  font-size: 23px;
  }

/* Round information */
.round-information {
  background-color: #a1a1a1;
  border-radius: 6px;
  color: #fff;
  text-align: center;
  width: 80px;
  }
.round-number{
  font-size: 23px;
  }
.round-information p {
  margin: 0;
  }

/* Progress bar */
.progress-fixed-top {
  height: 5px;
  left:0;
  position:fixed;
  top: 68px;
  width:100%;
  z-index: 1030;
  }

/*----- Stage -----*/
/*.stage-element {*/
/*  border-bottom: 1px solid #e5e5e5;
  font-size: 19px;*/
/*  padding-bottom: 5px;
  padding-top: 5px;*/
  /*}*/
/*.stage-element-lining {
  display: table;
  width: 100%;
  }*/

/*.time-element{
  background-color: #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  border-right: 1px solid gray;
  color: #999;
  font-size: 20px;
  }*/

/*.stage-icon-element {
  clear: left;
  padding: 12px 0 8px 5px;
  }
.stage-bids,
.stage-info {
  padding-left: 0;
  }*/
.stage-item {
  border-bottom: 1px solid #e5e5e5;
  font-size: 18px;
  padding: 0 0 0 5px;
  }
.stage-round {
  padding: 0 0 0 2px;
  }
/*.stage-info-lining,
.stage-bids-lining,*/
.stage-item-lining,
.stage-info-lining {
  /*min-height: 63px;*/
  display: table;
  width: 100%;
  }
.stage-icon {
  background: url(../img/future_stage.png) no-repeat 50% 50%;
  background-size: 37px 37px;
  display: table-cell;
  height: 37px;
  vertical-align: middle;
  width: 37px;
  }

.past-round .past-stage .stage-icon {
  background: url(../img/past_stage.png) no-repeat 50% 50%;
}

.current-round .past-stage .stage-icon {
  background: url(../img/past_stage.png) no-repeat 50% 50%;
}

.current-round .current-stage .stage-icon {
  background: url(../img/current_stage.png) no-repeat 50% 50%;
}

.stage-info {
  display: table-cell;
  padding: 0 0 0 5px;
  vertical-align: middle;
  }
/*.stage-preliminary-bids,
.stage-announcement,
.stage-pause {
  display: table-cell;
  float: none;
  padding-left: 0;
  vertical-align: middle;
  }*/
/*.stage-label,
.stage-amount,*/
.stage-info-item {
  display: table-cell;
  height: 45px;
  vertical-align: middle;
  }
.stage-label {
  line-height: 16px;
  padding: 0 5px 0 0;
  }
.stage-round .stage-label {
  font-weight: bold;
  height: 74px;
  }
.stage-amount {
  border-radius: 6px 0 0 6px;
  font-size: 18px;
  line-height: 18px;
  /*padding: 12px 11px 10px;*/
  padding: 4px 5px 0;
  white-space: nowrap;
  width: 150px;
  text-align: center;
  }
/*.default-amount {
  background-color: #f2f2f2;
  }*/
.minimal-amount {
  background-color: #fcc;
  }
/*.amount-currency{
  font-size: 16px;
  }*/
/*.label-price {*/
  /*display: block;*/
  /*padding: 4px 0 0;*/
  /*}*/
.label-minimum {
  color: #c00;
  display: block;
  font-size: 10px;
  line-height: 16px;
  text-align: center;
  padding: 2px 0 0;
  }

/* Bids stage forecast*/
.bids-stage-forecast {
  color: #ccc;
  }
.bids-stage-forecast .default-amount {
  background-color: #f5f5f5;
  }
.bids-stage-forecast .minimal-amount {
  background-color: #fce5e5;
  }
.bids-stage-forecast .label-minimum {
  color: #fb8484;
  }

/* Current stage*/
.current-stage {
  background-color: #f2f2f2;
  overflow: hidden;
  /*border-bottom: 1px solid #ccc;*/
  }

/* Round element */
/*.round-element {
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  color: #5a6373;
  font-size: 20px;
  padding-left: 1.5em;
  padding-right: 1em;
  }*/

/*----- Fixed bottom -----*/
.fixed-bottom {
  bottom: 0;
  left: 0;
  margin: 0;
  position: fixed;
  width: 100%;
  }