{% extends "base.html" %}
{% block head %}
    <title>Auction Software</title>
    <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css"> -->
    <!-- Custom styles for this template -->
    <link href="/static/css/starter-template.css" rel="stylesheet">
{% endblock %}
{% block body %}
<body>
    <div class="container">
        <div class="list-group">
            <nav>
              <ul class="pager">
              {% if offset and startid %}
                <li class="next"><a href="?offset={{offset}}&startid={{startid}}">Next page<span aria-hidden="true">&rarr;</span></a></li>
              {% endif %}
                <li class="previous"><a href="/archive"><span aria-hidden="true">&larr;</span>First page</a></li>
              </ul>
            </nav>
            {% for auction in documents %}
            <div class="list-group-item text-center">
                <a href="/tenders/{{ auction.doc._id }}">
                    <h4 class="list-group-item-heading">
                    Ofertă: {{ auction.doc.tenderID }}
                </h4>
                </a>
                <p class="list-group-item-text">
                    Ora de începere a: {{ auction.doc.stages[0].start }}
                </p>
            </div>
            {% endfor %}
            </ol>
        </div>
    </div>
</body>
{% endblock %}
