{% extends "base.html" %}
{% block head %}
    <base href="{{ request.url + '/'}}">
    <style type="text/css">
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
    </style>
    {% assets "all_css" %}
        <link href="{{ ASSET_URL }}" rel="stylesheet">
    {% endassets %}
    {% raw %}
    <title ng-bind-template="{{ time_in_title }} {{ info_timer.msg|translate}} - {{ title_ending }}" ng-if="!info_timer.start_time" >     
        Аукціон
    </title>
    <title ng-bind-template="{{ info_timer.msg|translate}} {{ format_date(info_timer.start_time, lang,'Do MMMM YYYY') }} {{'at'|translate}} {{ format_date(info_timer.start_time, lang,'HH:mm') }} - {{ title_ending }}" ng-if="!info_timer.countdown" >     
        
    </title>
    {% endraw %}     
    {% endblock %}

{% block body %}
{% raw %}

<body ng-if="document_exists" ng-cloak>
    <div class="container">
        <div class="header-auction navbar navbar-fixed-top" role="navigation">
            <div class="navbar-header header-auction-lining">
                <div class="header-auction-item header-auction-nav">
                    <button type="button" class="navbar-toggle collapsed" ng-init="navbarCollapsed=true" ng-click="open_menu()">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="header-auction-item navbar-brand pull-left round-info timer-text">
                    <span class="header-auction-item-visual">
                        <timer timerid="1" ng-if="!info_timer.start_time" countdown="info_timer.countdown" max-time-unit="second" interval="1000">
                            <span ng-show="days">
                                <span class="timer-item">{{days}}</span>{{'days'|translate}}
                            </span>
                            <span ng-show="hours">
                                <span class="timer-item">{{hours}}</span>{{'hours'|translate}}
                            </span>
                            <span ng-show="minutes&&!(days)">
                                <span class="timer-item">{{minutes}}</span>{{'minutes'|translate}}
                            </span>
                            <span ng-show="(!((days)||(hours)))">
                                <span class="timer-item">{{seconds}}</span>{{'seconds'|translate}}
                            </span>
                            <span ng-if="$parent.info_timer.msg">
                                {{ info_timer.msg|translate}}
                            </span>
                        </timer>
                        <span ng-if="!info_timer.countdown">
                            <span ng-if="$parent.info_timer.msg">
                                {{ info_timer.msg|translate}}
                            </span>
                            <span ng-if="info_timer.start_time != true">
                              {{ format_date(info_timer.start_time, lang,'Do MMMM YYYY') }} {{'at'|translate}} {{ format_date(info_timer.start_time, lang,'HH:mm') }}
                            </span>
                        </span>
                    </span>
                </div>
                <div class="header-auction-item navbar-brand pull-right round-information" ng-if="get_round_number(auction_doc.current_stage).type == 'waiting'">
                    <p class="round-number" translate>Waiting</p>
                </div>
                <div class="header-auction-item navbar-brand pull-right round-information" ng-click="scroll_to_stage()" ng-if="get_round_number(auction_doc.current_stage).type == 'pause'">
                    <span class="round-number">
                        {{get_round_number(auction_doc.current_stage).data[0]}} &#8594; {{get_round_number(auction_doc.current_stage).data[1]}}
                    </span>
                </div>
                <div class="header-auction-item navbar-brand pull-right round-information" ng-click="scroll_to_stage()" ng-if="get_round_number(auction_doc.current_stage).type == 'round'">
                    <p class="round-label" translate>Round</p>
                    <p class="round-number">{{get_round_number(auction_doc.current_stage).data}}</p>
                </div>
                <div class="header-auction-item navbar-brand pull-right round-information" ng-click="scroll_to_stage()" ng-if="get_round_number(auction_doc.current_stage).type == 'finish'">
                    <p class="round-number" translate>Finish</p>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" collapse="navbarCollapsed">


            </div>
            <!--/.nav-collapse -->
        </div>
        <timer timerid="2" ng-if="progres_timer.countdown_seconds" countdown="progres_timer.countdown_seconds" interval="1000">
            <div class="progress progress-fixed-top">
                <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="{{($parent.progres_timer.rounds_seconds - countdown)/$parent.progres_timer.rounds_seconds*100}}" aria-valuemin="0" aria-valuemax="100" ng-style="{'width': ($parent.progres_timer.rounds_seconds - countdown)/$parent.progres_timer.rounds_seconds*100 + '%'}">
                </div>
            </div>
        </timer>
    </div>

    <div class="container">
        <div growl ></div>
        <div class="row">
            <div class="col-xs-12 hidden-xs">
                <div class="page-header">
                    <h2>{{ auction_doc.tenderID }}</h2>
                </div>
                <p ng-switch on="auction_doc.procuringEntity['name'+ lang] == undefined" class="lead">
                    <span ng-switch-when="false">{{ auction_doc.procuringEntity['name'+ lang]}} </span>
                    <span ng-switch-when="true">{{ auction_doc.procuringEntity.name}}</span>
                </p>
                <ul>
                    <li ng-repeat="item in auction_doc.items">
                        <span ng-switch on="item['description'+ lang] == undefined">
                            <span ng-switch-when="false">{{item['description'+ lang] }}</span>
                            <span ng-switch-when="true">{{item.description}}</span>
                        </span> - {{ item.quantity }} 
                        <span ng-switch on="item.unit['name'+ lang] == undefined">
                            <span ng-switch-when="false">{{item.unit['name'+ lang] }}</span>
                            <span ng-switch-when="true">{{item.unit.name}}</span>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <div id="initial-bids-header" class="auction-round past-round">
            <div class="row">
                <div class="col-xs-12 stage-item stage-round">
                    <div class="stage-item-lining">
                        <div class="stage-info">
                            <div class="stage-info-lining">
                                <span class="stage-info-item stage-label" ng-if="auction_doc.current_stage >= 0" translate>Initial bids</span>
                                <span class="stage-info-item stage-label" ng-if="auction_doc.current_stage == -1" translate>Bidders</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="initial-bid-{{ $index + 1 }}" class="row auction-stage stage-item stage-bids" 
                 ng-repeat="bid_info in auction_doc.initial_bids"
                 ng-class="{'current-stage': auction_doc.current_stage == -1,
                            'past-stage':  auction_doc.current_stage > -1,
                            'my-bid-stage': bid_info.bidder_id == bidder_id}">
                <div class="stage-item-lining">
                    <i class="stage-icon"></i>
                    <div class="stage-info">
                        <div class="stage-info-lining">
                            <span class="stage-info-item stage-label" ng-if="bid_info.bidder_id != bidder_id ">{{ bid_info.label[lang] }}</span>
                            <span class="stage-info-item stage-label" ng-if="bid_info.bidder_id == bidder_id " translate>You</span>
                            <span class="stage-info-item stage-amount" 
                                  ng-if="bid_info['amount']"
                                  ng-class="{true: 'minimal-amount', false: 'default-amount'}[bid_info.amount == minimal_bid]">
                                <span class="label-price">
                                    {{ bid_info['amount']|formatnumber }}
                                    <span class="amount-currency" ng-if="bid_info['amount']">{{ auction_doc.minimalStep.currency|translate }}</span>
                                </span>
                                <span class="label-minimum" ng-if="bid_info.amount == minimal_bid" translate>minimum</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="auction_doc.current_stage >= 0" 
             class="auction-round"
             id="round-header-{{$index + 1}}"
             ng-class="{'past-round':  (auction_doc.current_stage > (stage + auction_doc.initial_bids.length)),
                        'current-round': ((auction_doc.current_stage >= stage)&&(auction_doc.current_stage <= (stage + auction_doc.initial_bids.length))),
                        'future-round': auction_doc.current_stage < (stage + auction_doc.initial_bids.length)}"
             ng-repeat="stage in Rounds">
            <div class="row">
                <div class="col-xs-12 stage-item stage-round">
                    <div class="stage-item-lining">
                        <div class="stage-info">
                            <div class="stage-info-lining">
                                <span class="stage-info-item stage-label" ><span translate>Round</span> {{ $index + 1}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="stage-{{ stage + $index + 1 }}" class="row auction-stage stage-item stage-bids" 
                 ng-repeat="initial_bid in auction_doc.initial_bids" 
                 ng-class="{'current-stage svg': auction_doc.current_stage == (stage + $index + 1),
                            'future-stage':  auction_doc.current_stage < (stage + $index + 1),
                            'past-stage':  auction_doc.current_stage > (stage + $index + 1),
                            'my-bid-stage': auction_doc.stages[stage + $index + 1].bidder_id == bidder_id}">
                <div ng-if="$first" id="stage-{{ stage + $index}}"></div>
                <div class="stage-item-lining">
                    <i ng-if="auction_doc.current_stage != (stage + $index + 1)" class="stage-icon"></i>
                    <div class="stage-icon-visual" ng-if="auction_doc.current_stage == (stage + $index + 1)">
                        <svg class="stage-icon-svg" viewbox="0 0 48 48">
                              <svg-timer></svg-timer>
                        </svg>
                    </div>
                    <div class="stage-info">
                        <div class="stage-info-lining">
                            <span class="stage-info-item stage-label" ng-if="auction_doc.stages[stage + $index + 1].bidder_id != bidder_id ">{{ auction_doc.stages[stage + $index + 1].label[lang] }}</span>
                            <span class="stage-info-item stage-label" ng-if="auction_doc.stages[stage + $index + 1].bidder_id == bidder_id " translate>You</span>
                            <span class="stage-info-item stage-amount" 
                                  ng-if="(auction_doc.stages[stage + $index + 1]['type'] == 'bids')&&(auction_doc.stages[stage + $index + 1]['amount'])"
                                  ng-class="{true: 'minimal-amount', false: 'default-amount'}[auction_doc.stages[stage + $index + 1].amount == minimal_bid]">
                                <span class="label-price" ng-if="auction_doc.stages[stage + $index + 1]['changed']">
                                    <strong>{{ auction_doc.stages[stage + $index + 1]['amount']|formatnumber }}
                                        <span class="amount-currency" ng-if="auction_doc.stages[stage + $index + 1]['amount']">{{ auction_doc.minimalStep.currency|translate }}</span>
                                    </strong>
                                </span>
                                <span class="label-price" ng-if="!auction_doc.stages[stage + $index + 1]['changed']">
                                    {{ auction_doc.stages[stage + $index + 1]['amount']|formatnumber }}
                                    <span class="amount-currency" ng-if="auction_doc.stages[stage + $index + 1]['amount']">{{ auction_doc.minimalStep.currency|translate }}</span>
                                </span>
                                <span class="label-minimum" ng-if="auction_doc.stages[stage + $index + 1].amount == minimal_bid" translate>minimum</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="auction-round"
            id="results-header"
            ng-if="auction_doc.current_stage >= 0" 
            ng-class="{'current-round': auction_doc.current_stage == (auction_doc.stages.length - 1),
                       'future-round': auction_doc.current_stage < (auction_doc.stages.length - 1)}">
            <div class="row">
                <div class="col-xs-12 stage-item stage-round">
                    <div class="stage-item-lining">
                        <div class="stage-info">
                            <div class="stage-info-lining">
                                <span ng-if="auction_doc.current_stage == (auction_doc.stages.length - 1)" class="stage-info-item stage-label" translate>Announcement</span>
                                <span ng-if="auction_doc.current_stage < (auction_doc.stages.length - 1)" class="stage-info-item stage-label" translate>Possible results</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="row auction-stage stage-item stage-bids past-stage"
                 ng-class="{'past-stage': auction_doc.current_stage == (auction_doc.stages.length - 1),
                            'future-stage': auction_doc.current_stage < (auction_doc.stages.length - 1)}"
                 ng-repeat="bid_info in auction_doc.results">
                <div class="stage-item-lining">
                    <i class="stage-icon"></i>
                    <div class="stage-info">
                        <div class="stage-info-lining">
                            <span class="stage-info-item stage-label" ng-if="bid_info.bidder_id != bidder_id ">{{ bid_info.label[lang] }}</span>
                            <span class="stage-info-item stage-label" ng-if="bid_info.bidder_id == bidder_id " translate>You</span>
                            <span class="stage-info-item stage-amount" 
                                  ng-if="bid_info['amount']"
                                  ng-class="{true: 'minimal-amount', false: 'default-amount'}[bid_info.amount == minimal_bid]">
                                <span class="label-price">
                                    {{ bid_info['amount']|formatnumber }}
                                    <span class="amount-currency" ng-if="bid_info['amount']">{{ auction_doc.minimalStep.currency|translate }}</span>
                                </span>
                                <span class="label-minimum" ng-if="bid_info.amount == minimal_bid" translate>minimum</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>        
        </div>
        <div class="row" ng-if="auction_doc.current_stage == (auction_doc.stages.length - 1)">
            <br/>
            <a ng-if="return_url" class="btn btn-block btn-success" href="{{ return_url }}" translate>Return to Tender</a>
        </div>
    </div>
    <div class="container-fluid">
        <div ng-show="follow_login_allowed" class="panel panel-default bg-warning fixed-bottom">
            <div class="panel-body bg-warning">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="container text-center">
                            <h4 translate ng-if="!follow_login">Login is currently closed.</h4>
                            <a ng-href="{{login_url}}" ng-if="!follow_login" translate>Please try again later.</a>
                            <a ng-href="{{login_url}}" class="btn btn-success btn-lg btn-block" ng-if="follow_login"><span  translate>Login</span></a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="show_bids_form()" class="panel panel-default bg-warning fixed-bottom">
            <div class="panel-body bg-warning">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="container">
                            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert(alert.msg_id)">{{ alert.msg | translate }}</alert>
                            <form id="BidsForm" name="form.BidsForm" role="form">
                                <label for="bid"><span translate>Your proposal</span>:</label><span> {{ max_bid_amount()|formatnumber }} {{'or lower'|translate}}</span>
                                <div class="input-group">
                                    <input ng-disabled="!allow_bidding" min="0" class="form-control" id="bid" name="bid" ng-model="form.bid" required format="formatnumber">
                                    <div class="input-group-btn">
                                        <button type="submit" ng-show="allow_bidding" ng-click="post_bid()" class="btn btn-success" ng-class="{'active': form.active}" translate>Place a bid</button>
                                        <button type="submit" ng-hide="allow_bidding" ng-click="post_bid(-1)" class="btn btn-success" ng-class="{'active': form.active}" translate>Cancel Bid</button>
                                        <button type="submit" ng-hide="allow_bidding" ng-click="edit_bid()" class="btn btn-link" translate>Edit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
    <script type="text/ng-template" id="templates/growl/growl.html">
        <div class="growl-container" ng-class="wrapperClasses()">
            <div class="growl-item alert" ng-repeat="message in growlMessages.directives[referenceId].messages" ng-class="alertClasses(message)">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="growlMessages.deleteMessage(message)" ng-show="!message.disableCloseButton">&times;</button>
                <button type="button" class="close" aria-hidden="true" ng-show="showCountDown(message)">{{message.countdown}}</button>
                <h4 class="growl-title" ng-show="message.title" ng-bind="message.title"></h4>
                <div class="growl-message"><span ngh-replace id="dir" content="message.text"></span></div>
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="templates/menu.html">
        <ul class="list-group">
              <li class="list-group-item">
                <span class="glyphicon glyphicon-info-sign text-primary pull-right" aria-hidden="true" style="font-size:2.5em; padding-left:0.2em"></span>
                <h4>{{ auction_doc.tenderID }}</h4>
                <p class="list-group-item-heading">
                    <strong ng-switch on="auction_doc.procuringEntity['name_'+ lang] == undefined" class="procuringEntity">
                        <span ng-switch-when="false">{{ auction_doc.procuringEntity['name_'+ lang]}}</span>
                        <span ng-switch-when="true">{{ auction_doc.procuringEntity.name}}</span></span><span ng-if="auction_doc.title" ng-switch on="auction_doc['title_'+ lang] == undefined" class="tenderTitle">:
                        <span ng-switch-when="false">{{ auction_doc['title_'+ lang]}} </span>
                        <span ng-switch-when="true">{{ auction_doc.title}}</span>
                    </strong>
                </p>
                <p class="text-muted tenderDescription" ng-if="auction_doc.description" ng-switch on="auction_doc['description_'+ lang] == undefined">
                        <span ng-switch-when="false">{{ auction_doc['description_'+ lang]}} </span>
                        <span ng-switch-when="true">{{ auction_doc.description}}</span>
                </p>
                <p ng-repeat="item in auction_doc.items">
                    <span ng-switch on="item['description_'+ lang] == undefined">
                        <span ng-switch-when="false">{{item['description_'+ lang] }}</span>
                        <span ng-switch-when="true">{{item.description}}</span>
                    </span> - {{ item.quantity|formatnumber }} 
                    <span ng-switch on="item.unit['name_'+ lang] == undefined">
                        <span ng-switch-when="false">{{item.unit['name_'+ lang] }}</span>
                        <span ng-switch-when="true">{{item.unit.name}}</span>
                    </span>
                </p>
                <p class="list-group-item-heading minimalStep" ng-if="auction_doc.minimalStep.amount"><span translate>Step reduction of Bid</span>: <strong>{{ auction_doc.minimalStep.amount|formatnumber }} {{ auction_doc.minimalStep.currency|translate }}</strong></p>
                <p class="list-group-item-heading tenderValue" ng-if="auction_doc.value.amount"><span translate>Start value</span>: {{ auction_doc.value.amount|formatnumber }} {{ auction_doc.value.currency }}</p>
              </li>
         
              <li ng-if="clients" class="list-group-item">
                <p ng-repeat="(id, client) in clients">
                    <span ng-switch on="id == client_id">
                        <span ng-switch-when="false" translate>Client</span>
                        <span ng-switch-when="true" translate>You</span>
                    </span> - IP: {{ client.ip }}</p>
              </li>
              <li ng-if="form.bid" class="list-group-item">
                <h4 class="list-group-item-heading" translate>Your latest bid</h4>
                <p>{{ form.bid }}<p>
              </li>
              <li class="list-group-item">
                <h4 class="list-group-item-heading" translate>Language</h4>
                <div class="list-group-item-text">
                <div class="btn-group">
                  <button type="button" ng-click="changeLanguage('en')" class="btn btn-default navbar-btn" ng-class="{'active': lang == 'en'}">English</button>
                  <button type="button" ng-click="changeLanguage('uk')" class="btn btn-default navbar-btn" ng-class="{'active': lang == 'uk'}">Українська</button>
                  <button type="button" ng-click="changeLanguage('ru')" class="btn btn-default navbar-btn" ng-class="{'active': lang == 'ru'}">Русский</button>
                </div>
                </div>
              </li>
              <li class="list-group-item"><a ng-click="restart_changes()"><h4 class="list-group-item-heading" translate>Restart sync</h4></a></li>
              <li ng-if="bidder_id" class="list-group-item"><a ng-href="logout"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> <span translate>Logout</span></a></li>
        </ul>

    </script>
</body>
{% endraw %}
<script type=text/javascript>
var db_url = '{{ db_url }}';
var auction_doc_id = '{{ auction_doc_id }}';
</script>
{% assets "all_js" %}
    <script src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}

</html>