{% extends "base.html" %}
{% block head %}
    <title>Auction Software</title>
    <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css"> -->
    <!-- Custom styles for this template -->
    <link href="/static/css/starter-template.css" rel="stylesheet">
{% endblock %}
{% block body %}
<body>
    <div class="container">
        <div class="list-group">
            {% for auction in documents | reverse %}
            <div class="list-group-item text-center">
                <a href="/tenders/{{ auction._id }}">
                    <h4 class="list-group-item-heading">
                    Аукціон {{ auction.auctionID }}
                </h4>
                </a>
                <p class="list-group-item-text">
                    Час початку: {{ auction.stages[0].start }}
                </p>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
{% endblock %}