{% extends "base.html" %}
{% block head %}
    <title>Auction Software</title>
    <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <link href="/static/css/starter-template.css" rel="stylesheet">
{% endblock %}
{% block body %}
<body>
    <div class="container">
        <div class="list-group">
            {% for auction in documents | reverse %}
            <div class="list-group-item text-center">
                <a href="/tenders/{{ auction._id }}">
                    <h4 class="list-group-item-heading">
                    Тендер {{ auction.tenderID }}
                </h4>
                </a>
                <p class="list-group-item-text">
                    Час проведення: {{ auction.stages[0].start }} - {{ auction.endDate }}
                </p>
                <div class="btn-group">
                    {% for bidder in auction["initial_bids"] %}
                    <a type="button" class="btn btn-default" href="/tenders/{{ auction._id }}/login?bidder_id={{ bidder['bidder_id'] }}&hash={{ format_hash(bidder['bidder_id'])}} ">{{ bidder['label']['uk'] }}</a>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
{% endblock %}