{% extends "base.html" %}
{% block head %}
    <title>Auction Software</title>
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css"> -->
    <!-- Custom styles for this template -->
    <link href="/static/css/starter-template.css" rel="stylesheet">
{% endblock %}
{% block body %}
<body>
    <div class="container">
        <div class="jumbotron">
        <p>Vă rog să așteptați începutul licitației. Încercați mai târziu.</p>
        <p>Login is currently closed. Please try again later.</p>
        <p>Вход на данный момент закрыт. Попробуйте позже.</p>
        </div>
    </div>
</body>
{% endblock %}
